<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>World Bank</title>

    <!--Year picker-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    <!--Other links-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <script src="js/bootstrap-table.js"></script>
    <meta name="description" content="Interaktywny poradnik szybkiego startu dla Brackets.">
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="container-fluid outerdiv">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><b>SPA</b> <span class="span-style">World Bank</span></a>
                    </div>
                </div>
            </nav>


            <h1>Welcome to the World Bank</h1>

            <div class="form-group">
                <label for="sel1">Check the world's condition:</label>
                <select class="form-control" ng-model="dataType" ng-change="querySwitch()">
				<option value="country">Countries</option>
				<option value="sources">Sources</option>
				<option value="indicator">Indicators</option>
				<option value="income">Income level</option>
			</select>
            </div>

            <div class="form-group">
                <label for="sel2">Language:</label>
                <select class="form-control" ng-model="languageData">
				<option value="en">EN</option>
				<option value="es">ES</option>
				<option value="fr">FR</option>
				<option value="ar">AR</option>
				<option value="zh">ZH</option>
			 </select>
            </div>


            <div class="date1" ng-hide="hideYearInputs" ng-class="yearInputs">
                <strong>From Year : </strong>
                <input style="width: 300px;" type="number" ng-model="fromYear">
            </div>
            <div class="date1" ng-hide="hideYearInputs" ng-class="yearInputs">
                <strong>To Year : </strong>
                <input style="width: 300px;" type="number" ng-model="toYear">
            </div>
            
            <!--    Load data button   -->
            <button class="button" ng-click="loadBankData()">Load data from World Bank</button>

            <!--    Loaded data:    -->
            <div id="tableDiv"></div>

        </div>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            // Init data
            $scope.dataType = "country";
            $scope.languageData = "en";
            $scope.hideYearInputs = true;
            $scope.fromYear = 2010;
            $scope.toYear = 2015;

            // Load data from world bank
            $scope.loadBankData = function() {
                $http({
                    method: "GET",
                    url: resolveBasicURL($scope.dataType, $scope.languageData, $scope.fromYear, $scope.toYear),
                    headers: 'Access-Control-Allow-Origin'
                }).then(function mySucces(response) {
                    if ($scope.dataType == "country") {
                        del();
                        $('#table').bootstrapTable({
                            data: response.data[1],
                            columns: [{
                                field: 'id',
                                title: 'Country ID'
                            }, {
                                field: 'name',
                                title: 'Name'
                            }, {
                                field: 'iso2Code',
                                title: 'countryCode'
                            }, {
                                field: 'region.value',
                                title: 'Region'
                            }, {
                                field: 'capitalCity',
                                title: 'Capital'
                            }]
                        });
                    } else if ($scope.dataType == "sources") {
                        del();
                        $('#table').bootstrapTable({
                            data: response.data[1],
                            columns: [{
                                field: 'id',
                                title: 'ID'
                            }, {
                                field: 'name',
                                title: 'Name'
                            }]
                        });
                    } else if ($scope.dataType == "indicator") {
                        del();
                        $('#table').bootstrapTable({
                            data: response.data[1],
                            columns: [{
                                field: 'id',
                                title: 'Indicator ID'
                            }, {
                                field: 'name',
                                title: 'Name'
                            }, {
                                field: 'source.value',
                                title: 'Source'
                            }, {
                                field: 'sourceOrganization',
                                title: 'Organization of a source'
                            }, {
                                field: 'topics(1)',
                                title: 'Topics'
                            }]
                        });
                    } else if ($scope.dataType == "income") {
                        del();
                        $('#table').bootstrapTable({
                            data: response.data[1],
                            columns: [{
                                field: 'id',
                                title: 'ID'
                            }, {
                                field: 'value',
                                title: 'Type of Income'
                            }]
                        });
                    }
                }, function myError(response) {
                    $scope.myWelcome = response.statusText;
                });
            }

            // Hide or show inputs
            $scope.querySwitch = function() {
                if ($scope.dataType == 'indicator') {
                    $scope.hideYearInputs = false;
                } else {
                    $scope.hideYearInputs = true;
                }
            }


        });

        function del() {
            var elem = document.getElementById("tableDiv");
            elem.innerHTML = '';
            elem = document.getElementById("tableDiv");
            var table = document.createElement("TABLE");
            table.setAttribute("id", "table");
            table.setAttribute("class", "flatTable");
            table.setAttribute("data-search", "true");
            table.setAttribute("data-show-toggle", "true");
            table.setAttribute("data-show-columns", "true");
            table.setAttribute("data-show-export", "true");
            table.setAttribute("data-detail-view", "true");
            table.setAttribute("data-detail-formatter", "detailFormatter");
            table.setAttribute("data-pagination", "true");
            table.setAttribute("data-page-list", "[10, 25, 50, 100, ALL]");
            table.setAttribute("data-show-footer", "false");
            elem.appendChild(table);

        }

        $('.date-own').datepicker({
            minViewMode: 2,
            format: 'yyyy',
            todayBtn: true,
            autoclose: true,
            showMeridian: true
        });

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function(key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            });
            return html.join('');
        }

        function resolveBasicURL(type, languageData, fromYear, toYear) {
            console.log(fromYear);

            var url = 'http://api.worldbank.org/';
            var suffix = '';
            var languageSuffix = languageData + '/';
            var json_suffix = '?format=json';
            switch (type) {
                case 'country':
                    suffix = 'countries';
                    break;
                case 'sources':
                    suffix = "sources"
                    break;
                case 'income':
                    suffix = "incomeLevels"
                    break;
                case 'indicator':
                    suffix = "indicator"
                    break;
            }
            var finalUrl = url + languageSuffix + suffix + json_suffix;
            if (type == 'indicator' && fromYear != undefined && toYear != undefined) {
                finalUrl += '&date=' + parseInt(fromYear) + ':' + parseInt(toYear);
            }

            console.log(finalUrl);
            return finalUrl;
        }

    </script>

</body>

</html>
