<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>World Bank</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-table.css">
	<script src="js/bootstrap-table.js"></script>
    <meta name="description" content="Interaktywny poradnik szybkiego startu dla Brackets.">
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">
		<div class="container-fluid outerdiv">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"><b>SPA</b> <span class="span-style">World Bank</span></a>
					</div>
				</div>
			</nav>
	  
        <h1>Welcome to the World Bank</h1>
		
		<div class="form-group">
			<label for="sel1">Check the world's condition:</label>
			<select class="form-control" ng-model="dataType" ng-change="querySwitch()">
				<option value="country">Countries</option>
				<option value="sources">Sources</option>
				<option value="indicator">Indicators</option>
				<option value="income">Income level</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="sel1">Language:</label>
			<select class="form-control" ng-model="languageData">
				<option value="en">EN</option>
				<option value="es">ES</option>
				<option value="fr">FR</option>
				<option value="ar">AR</option>
				<option value="zh">ZH</option>
			</select>
		</div>
        

        <!--    Indicators    -->
        <p ng-hide="hideYearInputs" ng-class="yearInputs">From Year: <input type="number" ng-model="fromYear"><br></p>
        <p ng-hide="hideYearInputs" ng-class="yearInputs">To year: <input type="number" ng-model="toYear"><br></p>

        <!--    Test:    -->
        <p> You chose: {{dataType}} </p>
        <p> You chose: {{myWelcome || jsonexprecion | json: spacing}} </p>


        <!--    Load data button   -->
        <button ng-click="loadBankData()">Load data from World Bank</button>

        <!--    Loaded data:    -->
        <p>
            {{resultInfo}}
        </p>

        <p>
            {{resultData}}
        </p>
		
		 <div class="container">
			<table id="table"></table>
		</div>
		
		</div>
		
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            // Init data
            $scope.dataType = "country";
            $scope.languageData = "en";
            $scope.hideYearInputs = true;

            // Load data from world bank
            $scope.loadBankData = function() {
                $http({
                    method: "GET",
                    url: resolveBasicURL($scope.dataType),
                    headers: 'Access-Control-Allow-Origin'
                }).then(function mySucces(response) {
                    $scope.resultInfo = response.data[0];
                    $scope.resultData = response.data[1];
					$('#table').bootstrapTable({
						data: response.data[1],
						columns: [{
							field: 'id',
							title: 'Country ID'
						}, {
							field: 'name',
							title: 'Name'
						}, {
							field: 'iso2Code',
							title: 'countryCode'
						}
						]
					});
                }, function myError(response) {
                    $scope.myWelcome = response.statusText;
                });
            }

            // Hide or show inputs
            $scope.querySwitch = function() {
                if ($scope.dataType == 'indicator') {
                    $scope.hideYearInputs = false;
                } else {
                    $scope.hideYearInputs = true;
                }
            }


        });

        function resolveBasicURL(type) {
            var url = 'http://api.worldbank.org/';
            var suffix = '';
            var json_suffix = '?format=json';
            console.log(type);
            switch (type) {
                case 'country':
                    suffix = 'countries';
                    break;
                case 'sources':
                    suffix = "sources"
                    break;
                case 'income':
                    suffix = "incomeLevels"
                    break;
                case 'indicator':
                    suffix = "indicator"
                    break;

            }

            console.log(url + suffix + json_suffix);

            return url + suffix + json_suffix;
        }
		
    </script>

</body>

</html>
